{
    "loggerLevel": "debug",
    "errorHandle": true,
    "server": {
        "host": "0.0.0.0",
        "port": 59998,
        "origin": "*"
    },
    "cache": {
        "switch": true,
        "maxLength": 2000,
        "ttl": 60000
    },
    "COEIROINKUrl": "https://tokyo-voice-api.example.com/v1/coeiroink"
}